.basket {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    margin-top: 64px;

    

    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }
    &__name-box p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #000000;
        margin-right: 32px;

    }

    &__item {
        border-top: 0.5px solid #CACDD8;
        padding-top: 25px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__item-name {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }
    &__item-price {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #050505;
    }
    &__item-describe {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #888888;
    }

    &__left {
        display: flex;
        gap: 32px;
    }

    &__info {
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    &__form {
        background: #F7F6F6;
        border-radius: 20px;
        height: 556px;
        grid-column: span 4;
    }

    &__content {
        grid-column: span 8;
    
    }
    &__link-box {
        display: flex;
        gap: 30px;
    }
    &__link-box-inner {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 210%;
        color: #000000;
        text-decoration: underline;
    }


    &__button1 {
        width: 200px;
        height: 37px;
        left: 328px;
        top: 983px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 50px;
    }
    
    &__button2 {
        width: 200px;
        height: 37px;
        left: 121px;
        top: 983px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 50px;
    
    }
    &__form h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        text-align: center;
        margin-top: 42px;
    }
    
    &__form-button {
        width: 290px;
        height: 41px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 50px;
        margin-left: 45px;
    }
    &__form p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        text-decoration: underline;
    }
    &__form-input1 {
        margin-top: 35px;
        margin-left: 28px;
        margin-bottom: 44px;
    }
    &__form-input2 {
        
        margin-left: 28px;
        margin-bottom: 44px;
    }
    &__form-input3 {
        
        margin-left: 28px;
        margin-bottom: 68px;
    }
    &__form h4 {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        margin-bottom: 18px;
    }
    &__button {
        margin-top: 32px;
   }
   
    &__input-number1 {
        width: 71px;
        height: 51px;
        left: 837px;
        top: 523px;
        background: #F7F6F6;
        border-radius: 6px;
        border: none;
        box-sizing: border-box;
        padding-left: 24px;
        
        }
        &__input-number {
            position: relative;
        }
    &__arrows1 {
        position: absolute;
        top: -30%;
        transform: translateY(100%);
        left: 64%;
        display: block;
    }
    &__arrows2 {
        position: absolute;
        top: 12%;
        transform: translateY(100%);
        left: 64%;
        display: block;
    }
     
    &__input-number2 {
        width: 71px;
        height: 51px;
        left: 837px;
        top: 760px;
        background: #F7F6F6;
        border-radius: 6px;
        border: none;
        box-sizing: border-box;
        padding-left: 24px;

        
        
    }
    input[type=number]::-webkit-inner-spin-button {
        appearance: none;


    }
   
}
.product__element {
    
   position: relative;
    
    &-price {
        display: flex;
        gap: 32px;

    }

    &-icons1 {
        position: absolute;
        top: -4%;
        transform: translateY(100%);
        left: 82%;
        display: block;  
        
    }
    &-icons1:hover {
       stroke: mediumblue;
       
       
       
    }
    &-icons2 {
        position: absolute;
        top: -3%;
        transform: translateY(100%);
        left: 90%;
        display: block;
    }
    &-icons2:hover {
        stroke: blueviolet;
    }
}  
.social__media {
    position: relative;

    &-inst-icon {
        width: 40px;
        height: 40px;
        
        
    }
    &-inst-graph {
        position: absolute;
        left: -3%;
        opacity: 0;
    }
    &-inst-graph:hover {
        opacity: 1;
    }
    &-twitter-icon {
        width: 40px;
        height: 40px;
        
        
    }
    &-twitter-graph {
        position: absolute;
        left: 35%;
        opacity: 0;
    }
    &-twitter-graph:hover {
        opacity: 1;
    }
    &-fb-icon {
        width: 40px;
        height: 40px;
        
        
    }
    &-fb-graph {
        position: absolute;
        left: 70%;
        opacity: 0;
    }
    &-fb-graph:hover {
        opacity: 1;
    }

}

